.elec .el-input__inner {
  background-color: transparent !important;
  border: none !important;
  font-size: 0;
}
.elec .el-input__suffix{
	display: none;
}
.elec .el-input__prefix{
	color: #fff;
	font-size: 20px;
}