
.md-wrap {
  padding: 0 15px;
}
.md-wrap h1 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}
.md-wrap h2 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
}
.md-wrap em {
  text-decoration: underline;
}
